*{
    box-sizing: border-box;
}

.content{
    border: solid 3px black;
    padding: 15px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.8em;
}

.content>img:first-of-type{
    width: 200px;
    float: right;
    margin-left: 15px;
}
.content>img:nth-of-type(2){
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}

.container2 {
    color: white;
    font-size: 35px;
}

.container2>div:first-child{
    background-color: darkred;
    width: 100%;
    float: left;
}
.container2>div:nth-child(2){
    background-color: darksalmon;
    width: 20%;
    float: left;
    padding: 50px;
    height: 500px;
}
.container2>div:nth-child(3){
    background-color: darkseagreen;
    width: 80%;
    float: left;
    padding: 50px;
    height: 300px;
}
.container2>div:nth-child(4){
    background-color: darkorange;
    width: 80%;
    float: left;
    padding: 50px;
    height: 100px;
}

.container2::after{
    display: block;
    clear: both;
    
}